.header {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  display: block;
  background-color: rgb(187, 232, 195);
}

.flex-content {
  display: flex;
  text-align: left;
  flex-direction: row;
}

.flex-other-blogs {
  display: flex;
  text-align: left;
  flex-direction: column;
  background-color: rgb(236, 210, 152);
}

.flex-container-posts {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: rgb(203, 189, 216);
}

.footer {
  display: flex;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  display: block;
  background-color: rgb(176, 188, 242);
}
